node-red_flows/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cceb8b12124f32bd",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce7fef344411b78e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "mqtt-in-voltage",
        "topic": "esp32/voltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "183f288a0e16d963"
            ]
        ]
    },
    {
        "id": "c834b0cc8b700975",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/metrics",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 860,
        "wires": [
            [
                "e9468d2021f6c2e2"
            ]
        ]
    },
    {
        "id": "28fb23d804f16511",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "183f288a0e16d963",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "voltage",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e9468d2021f6c2e2",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "prometheus scraping template",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "voltage{source=\"esp32\"} {{flow.voltage}}\ncurrent{source=\"esp32\"} {{flow.current}}\nenergy{source=\"esp32\"} {{flow.energy}}\npowerFactor{source=\"esp32\"} {{flow.powerFactor}}\nfrequency{source=\"esp32\"} {{flow.frequency}}\npower{source=\"esp32\"} {{flow.power}}",
        "output": "str",
        "x": 410,
        "y": 860,
        "wires": [
            [
                "28fb23d804f16511"
            ]
        ]
    },
    {
        "id": "5418e004c3b83251",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "6f8ff0a00479724f"
            ]
        ]
    },
    {
        "id": "6f8ff0a00479724f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "current",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d63fe1657ce1e767",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/powerFactor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "6ba5f3373d1c4058"
            ]
        ]
    },
    {
        "id": "6ba5f3373d1c4058",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "powerFactor",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3eb355ec787cd679",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/energy",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 280,
        "wires": [
            [
                "e304231e38d33d00"
            ]
        ]
    },
    {
        "id": "e304231e38d33d00",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "energy",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "da2c7eb40e62d8b2",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/frequency",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "515e31daaf1b1945"
            ]
        ]
    },
    {
        "id": "515e31daaf1b1945",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "frequency",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f7faab57a6657bcb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cceb8b12124f32bd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "672db4a1b7133914"
            ]
        ]
    },
    {
        "id": "672db4a1b7133914",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "power",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "1cef15d8b3a89a3f",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Request Catboost inference",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "flask_server:5000/api/inference/catboost",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "88a20b7cca7bf9a6"
            ]
        ]
    },
    {
        "id": "1423b7772b5ff0aa",
        "type": "complete",
        "z": "f6f2187d.f17ca8",
        "name": "all message from ESP32 received",
        "scope": [
            "183f288a0e16d963",
            "6f8ff0a00479724f",
            "6ba5f3373d1c4058",
            "e304231e38d33d00",
            "515e31daaf1b1945",
            "672db4a1b7133914"
        ],
        "uncaught": false,
        "x": 200,
        "y": 580,
        "wires": [
            [
                "1493672d3148acdb",
                "9a93232bb7adc571"
            ]
        ]
    },
    {
        "id": "1493672d3148acdb",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set request body Catboost",
        "func": "const payload = msg.payload;\nconst data = {\n    current: flow.get('current'),\n    voltage: flow.get('voltage'),\n    energy: flow.get('energy'),\n    power_factor: flow.get('powerFactor'),\n    frequency: flow.get('frequency'),\n    power: flow.get('power')\n}\nmsg.payload = data\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "fb409bd2309670f4"
            ]
        ]
    },
    {
        "id": "88a20b7cca7bf9a6",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "0d434b12cc27d335"
            ]
        ]
    },
    {
        "id": "0d434b12cc27d335",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classification_catboost",
                "pt": "flow",
                "to": "payload.prediction",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "confidence_catboost",
                "pt": "flow",
                "to": "payload.probability",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1360,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e0700bbf7b3a19d3",
        "type": "complete",
        "z": "f6f2187d.f17ca8",
        "name": "catboost inference complete",
        "scope": [
            "0d434b12cc27d335"
        ],
        "uncaught": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "967928ae720a9d12",
                "061ca7c526f1219a"
            ]
        ]
    },
    {
        "id": "e8636238067df747",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "inference/classification_catboost",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cceb8b12124f32bd",
        "x": 1290,
        "y": 500,
        "wires": []
    },
    {
        "id": "efe2108cd2af8470",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "inference/confidence_catboost",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cceb8b12124f32bd",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "967928ae720a9d12",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "flow.classification_catboost",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.classification_catboost}}",
        "output": "str",
        "x": 980,
        "y": 500,
        "wires": [
            [
                "e8636238067df747"
            ]
        ]
    },
    {
        "id": "061ca7c526f1219a",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "flow.confidence_catboost",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.confidence_catboost}}",
        "output": "str",
        "x": 970,
        "y": 420,
        "wires": [
            [
                "efe2108cd2af8470"
            ]
        ]
    },
    {
        "id": "9a93232bb7adc571",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set request body RNN",
        "func": "const payload = msg.payload;\nconst data = {\n    current: flow.get('current'),\n    voltage: flow.get('voltage'),\n    energy: flow.get('energy'),\n    power_factor: flow.get('powerFactor'),\n    frequency: flow.get('frequency'),\n    power: flow.get('power')\n}\nmsg.payload = data\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 720,
        "wires": [
            [
                "4ff92fefa94a9492"
            ]
        ]
    },
    {
        "id": "4ff92fefa94a9492",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set request body RNN squence",
        "func": "const payload = msg.payload;\nlet sequence = flow.get('data_sequence');\nsequence.push(payload);\nif(sequence.length == 20)\n{\n    const data = [...sequence];\n    msg.payload = data;\n    sequence.shift();\n    flow.set('data_sequence', sequence);\n    return msg\n}\nelse\n{\n    flow.set('data_sequence', sequence);\n    msg = 0\n    return msg\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('data_sequence', [])",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 720,
        "wires": [
            [
                "a205d10e630b5615"
            ]
        ]
    },
    {
        "id": "a205d10e630b5615",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "531f52c7147f907a"
            ],
            []
        ]
    },
    {
        "id": "aa17040aeb3f3884",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Request SimpleRNN inference",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "flask_server:5000/api/inference/rnn",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1470,
        "y": 720,
        "wires": [
            [
                "57b6e243d16a28ef"
            ]
        ]
    },
    {
        "id": "564631ac061f7cb6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Setup function",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('voltage', 0);\nflow.set('current', 0);\nflow.set('energy', 0);\nflow.set('powerFactor', 0);\nflow.set('frequency', 0);\nflow.set('power', 0);\nflow.set('classification_catboost', 0);\nflow.set('confidence_catboost', 0);\nflow.set('classification_rnn', 0);\nflow.set('confidence_rnn', 0);",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "57b6e243d16a28ef",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1690,
        "y": 720,
        "wires": [
            [
                "a4795fc225f462e0"
            ]
        ]
    },
    {
        "id": "531f52c7147f907a",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 1070,
        "y": 720,
        "wires": [
            [
                "1a0ffaf028aca4ec"
            ]
        ]
    },
    {
        "id": "fb409bd2309670f4",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "1cef15d8b3a89a3f"
            ]
        ]
    },
    {
        "id": "1a0ffaf028aca4ec",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1230,
        "y": 720,
        "wires": [
            [
                "aa17040aeb3f3884"
            ]
        ]
    },
    {
        "id": "a4795fc225f462e0",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classification_rnn",
                "pt": "flow",
                "to": "payload.prediction",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "confidence_rnn",
                "pt": "flow",
                "to": "payload.confidence",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ad93a33070f9946b",
        "type": "complete",
        "z": "f6f2187d.f17ca8",
        "name": "rnn inference complete",
        "scope": [
            "a4795fc225f462e0"
        ],
        "uncaught": false,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "fd85128cfdf317f6",
                "cb4282eabf461426"
            ]
        ]
    },
    {
        "id": "2a543a1629476e32",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "inference/classification_rnn",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cceb8b12124f32bd",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "f25f5ec6571a946f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "inference/confidence_rnn",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cceb8b12124f32bd",
        "x": 1250,
        "y": 240,
        "wires": []
    },
    {
        "id": "fd85128cfdf317f6",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "flow.classification_rnn",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.classification_rnn}}",
        "output": "str",
        "x": 940,
        "y": 320,
        "wires": [
            [
                "2a543a1629476e32"
            ]
        ]
    },
    {
        "id": "cb4282eabf461426",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "flow.confidence_rnn",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{flow.confidence_rnn}}",
        "output": "str",
        "x": 940,
        "y": 240,
        "wires": [
            [
                "f25f5ec6571a946f"
            ]
        ]
    },
    {
        "id": "9519c6907af5cddf",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/api/classification",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "dc441256e7bbf3ad"
            ]
        ]
    },
    {
        "id": "dc441256e7bbf3ad",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "set response body",
        "func": "msg.payload = [{\n    label: flow.get('classification_catboost'),\n    confidence: flow.get('confidence_catboost')\n}, {\n    label: flow.get('classification_rnn'),\n    confidence: flow.get('confidence_rnn')\n}]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 940,
        "wires": [
            [
                "c3757bd7ef35f6f0"
            ]
        ]
    },
    {
        "id": "c3757bd7ef35f6f0",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 940,
        "wires": [
            [
                "4e2eaf5fd560def8"
            ]
        ]
    },
    {
        "id": "4e2eaf5fd560def8",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 760,
        "y": 940,
        "wires": []
    },
    {
        "id": "b02ad6236aeeaff2",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "7c04961fa0c2e433"
            ]
        ]
    },
    {
        "id": "7c04961fa0c2e433",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "ON Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 910,
        "y": 120,
        "wires": [
            [
                "83a3dfd0dbc37011"
            ]
        ]
    },
    {
        "id": "83a3dfd0dbc37011",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "esp32/relay/control",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cceb8b12124f32bd",
        "x": 1210,
        "y": 120,
        "wires": []
    }
]